<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<p><em>Author: <%= @post.user.name %> written at <%= @post.created_at %></em></p>
<br/>
<p><h2> Comments </h2></p>
</br>
<% @post.comments.each do |comment| %>
  <div class="row">
    <div class="col-xs-6 col-md-4 ">
      <%= comment.body %> 
      <p><em> by <%= comment.user.name %> at <%= comment.created_at %> </em><p>
      <% if @post.user==session[:user]||comment.user==session[:user] %>
        <form class="input-append" action="/posts/<%= @post.id %>/comments/<%= comment.id %>" method="post">
          <input type="hidden" name="_method" value="delete" />
          <button id="b2" class="btn btn-danger" type="submit">Del</button>
        </form>
      <% end %>
    </div>
  </div>
  <br/>
<% end %>
<% if user_here? %>
  <form class="input-append" action="/posts/<%= @post.id %>/comments" method="post">
    <div class="row">
      <div class="col-xs-6 col-md-4 ">
        <div class="input-group">
          <input type="hidden" id="post_id" name="post_id" value="<%= @post.id %>">
          <input autocomplete="off" class="form-control" maxlength="30" id="comment_body" name="comment_body" type="text" placeholder="Place for ur comments"/>  
          <span class="input-group-btn">
            <button id="b1" class="btn btn-success" type="submit">Add</button>
          </span>
        </div>
      </div>        
    </div>
  </form>
<% end %>